---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
export type Post = {
  url: string;
  frontmatter: {
    title: string;
    [key: string]: any;
  };
  [key: string]: any;
};

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
) as Post[];

const pageTitle = "Blogs";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map((post: Post) => 
      <BlogPost url={post.url} title={post.frontmatter.title}/>
    )}
  </ul>
</BaseLayout>
